@font-face {
    font-family: 'ABCROM Heavy';
    src: url('fonts/ABCROM-Heavy-Trial.otf');
}

@font-face {
    font-family: 'ABCROM Regular';
    src: url('fonts/ABCROM-Regular-Trial.otf');
}

@font-face {
    font-family: 'ABCROM Medium';
    src: url('fonts/ABCROM-Medium-Trial.otf');
}

@font-face {
    font-family: 'ABCROM MediumItalic';
    src: url('fonts/ABCROM-MediumItalic-Trial.otf')
}

@font-face {
    font-family: 'ABCROM MonoMedium';
    src: url(fonts/ABCROMMono-Medium-Trial.otf);
}

@font-face {
    font-family: 'ABCROM MonoMediumItalic';
    src: url(fonts/ABCROMMono-MediumItalic-Trial.otf);
}

@font-face {
    font-family: 'ABCROM Book';
    src: url(fonts/ABCROM-Book-Trial.otf);
}

@font-face {
    font-family: 'ABCROM Book Italic';
    src: url(fonts/ABCROM-BookItalic-Trial.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    overflow-x: hidden;
}

.noise-title {
    font-family: 'ABCROM Heavy';
    color: black;
    /* Change this to the color you want */
    font-size: 5em;
    /* Change this to the size you want */
    cursor: pointer;
    /* Changes the cursor to a hand when hovering over the title */
    text-transform: uppercase;
    /* Makes the text uppercase */
    line-height: .8;
}

.noise-description-part {
    font-family: 'ABCROM Medium';
    color: #000000;
    /* Change this to the color you want */
    font-size: 20px;
    /* Change this to the size you want */
    line-height: 1.1;
    margin-bottom: 10px;
}

.noise-title:hover {
    color: #4376BB;
}

.image-description-index {
    /* color: #4376BB; */
    font-family: 'ABCROM MonoMedium';
    display: none;
    color: black;
    line-height: 1;
    text-align: center;
    /* Change text color on hover */
    font-size: 12px;

}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: dense;
}

.noise-info {
    grid-column: 1;
}

.image-div {
    grid-column: 2;
}

#noise-container {
    display: flex;
    flex-direction: column;
}
.sticky-container {
    position: relative;
}

.image-container{
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.noise-description,
.noise-images {
    display: none;
    
    /* Initially hide the description and images */
}

.noise-image {
    width: 100%;
    margin-bottom: 10px;
    height: auto;

}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 75%;

}

.noise-images {
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}




.italic-text {
    font-family: 'ABCROM Book Italic';
    font-style: italic;
}

iframe {
    border: none;
}

.iframe-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    /* Adjust this based on your video's aspect ratio */
    overflow: hidden;
}

.iframe-container-3-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    /* centers horizontally */
    align-items: center;
    /* centers vertically */
    aspect-ratio: 2.1;
    /* Adjusted based on your video's aspect ratio */
    overflow: hidden;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

sub {
    vertical-align: top;
    font-size: 10px;
    font-family: 'ABCROM Medium';
}

video {
    pointer-events: none;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full height */
    overflow: hidden;
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Disable mouse interaction */
}

.menu-bar {
    position: fixed;
    z-index: 99999999;
    bottom: 0px;
    color: #4376BB;
    background-color: black;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;

    box-sizing: border-box;
    /* Add this line */

}
    /* Your styles here */
 #menuOverlay {
    display: none; /* Ensure initial state is set */
}
#submenu {
    display: none; /* Ensure initial state is set */
}
           
.menu-left .menu-item {
    font-family: 'ABCROM Heavy', sans-serif;
    font-size: 12px;
    letter-spacing: 1.3px;
    cursor: pointer;
    position: relative;
    z-index: 201;
    /* Increase z-index value */
}

.menu-left,
.menu-right {
    display: flex;
    gap: 20px;
}

.menu-left {
    color: white;
}

.menu-item {
    font-family: 'ABCROM Heavy', sans-serif;
    font-size: 12px;
    letter-spacing: 1.3px;
    cursor: pointer;
    position: relative;
}

.menu-item:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1.5px;
    background-color: #4376BB;
    width: 100%;
}

.underline-text {
    position: relative;
    padding-bottom: 10px;
}

.underline-text::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 13px;
    height: 1.5px;
    background-color: #ffffff;
    width: 100%;
}


#muteText {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    /* Ensure text is clickable and visible */
    font-family: 'ABCROM Heavy', sans-serif;
    color: #4376BB;
    letter-spacing: 1.3px;

    font-size: 12px;
}

#muteText:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1.5px;
    background-color: #4376BB;
    width: 100%;
}

#mobileMenu {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    font-family: 'ABCROM Heavy', sans-serif;
    color: #4376BB;
    letter-spacing: 1.3px;
    font-size: 12px;
}

#menuOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4376BB;
    color: black;
    z-index: 200;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'ABCROM Heavy', sans-serif;
    font-size: 12px;
    letter-spacing: 1.3px;

    .menu-item {
        font-size: 30px;
        /* Adjust as needed */
        line-height: 0.98;
    }
}

.interviews {
    margin-top: 10px;
}

.interview-link-wrapper {
    display: flex;
    /* Make it a flex container */
    align-items: center;
    /* Center items vertically */
}

.interview-link {
    font-size: 5em;
    /* Increase font size */
    display: block;
    /* Make it a block element */
    font-family: 'ABCROM Heavy', sans-serif;
    line-height: .75;
    padding: 10px;
    /* Add padding */
    padding-bottom: 5px;
}

.interview-link-wrapper:hover {
    background-color: black;
    color: #4376BB;
    text-decoration: none;
    /* Change text color on hover */
}

.interview-headline {
    position: absolute;
    /* Position it absolutely */
    color: #4376BB;
    /* Change text color on hover */
    font-family: 'ABCROM Regular';
    font-size: 5em;
    /* Adjust as needed */
    line-height: .8;
    padding-top: 30px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: -2px;
}

.interview-text {
    font-family: 'Abcrom Book', sans-serif;
    margin-bottom: 60px;
    /* text-align: justify;
    hyphens: auto;
    hyphenate-limit-chars: 7 3 3; */

}



.interview-speaker {
    display: flex;
    color: white;
    margin: 0 27vw;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.interview-speaker-image {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 27vw;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.1;
}

/* space for intro text */
.interview-text .interview-speaker:first-child {
    margin-top: 50px;
}

/* space in between paragraphs */
.interview-speaker-text-second>div {
    margin-bottom: 15px;
    /* Adjust the value as needed */
}

/* space in between paragraphs */
.interview-speaker-text-first>div {
    margin-bottom: 15px;
    /* Adjust the value as needed */
}

.image-container-interview {
    text-align: center;
    /* Center the image and caption */
    margin: 0 auto;
    /* Center the container */
}

.image-container-interview-wrapper img {
    width: 25%;
    /* Set the width to 25% */
    margin: 0 auto;
    /* Center the container */
}

.image-container-interview img {
    width: 100%;
    /* Adjust as needed */
    height: auto;
}


.image-caption {
    font-family: 'ABCROM MonoMedium';
    color: #4376BB;
    /* Change text color on hover */
    font-size: 12px;
    width: 100%;
    /* Set the caption to take up 100% width */
    text-align: center;
    /* Center the caption */
    margin-top: 10px;
    /* Add margin to the top */
}

.italic-caption {
    font-family: 'ABCROM MonoMediumItalic';
    font-style: italic;
}

.image-caption a:hover {
    text-decoration: underline;
}

.interview-speaker {
    position: relative;
}

.interview-speaker-label {
    position: absolute;
    left: -100px;
    color: #4376BB;
    /* Change text color on hover */

}

.content-after-headline {
    position: relative;
    width: 100vw;
}

.sticky-flex {
    font-family: 'ABCROM Heavy', sans-serif;
    display: flex;
    font-size: 12px;
    letter-spacing: 1.3px;
    position: sticky;
    top: 50vh;
    /* Adjust this value as needed */
    justify-content: space-between;
    width: 100%;
}

.sticky-label-left,
.sticky-label-right {
    padding-left: 10px;
    padding-right: 10px;
}

.sticky-label-left {
    color: white;
    position: sticky;

}

.sticky-label-right {
    color: #4376BB;

    position: sticky;
}


.interview-speaker-text-first {
    padding-left: 50px;
}

.interview-speaker-text-second {
    padding-left: 0px;
}



/* Media query for small screens */
@media (max-width: 600px) {
    .interview-headline {
        font-size: 3em;
        /* Adjust as needed */
        line-height: .8;
    }

    /* Hide menu-right */
    .menu-right {
        display: none;
    }

    /* Hide sticky-flex */
    .sticky-flex {
        display: none;
    }

    .noise-title{
        font-size: 2em;
    }
    /* Show mobile menu text */
    #mobileMenu {
        display: block;
        position: fixed;

    }

    /* Move muteText to the top left */
    #muteText {
        right: auto;
        left: 10px;
    }

    .interview-speaker {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10PX;
        margin-top: 0;
        font-size: 15px;
        line-height: 1.2;
        font-family: 'ABCROM Medium';
        /* text-align: justify;
        hyphens: auto;
        hyphenate-limit-chars: 7 3 3; */
    }

    .interview-speaker-text-first {
        padding-left: 0px;
        text-indent: 50px;
    }

    .interview-speaker-text-second {
        padding-left: 0px;
        text-indent: 50px;
    }

    .interview-speaker-label {
        display: inline;
        position: absolute;
        left: 0;
        padding-right: 20px;
    }

    .interview-speaker-image {
        margin: 10px;
    }

    .italic-text {
        font-family: 'ABCROM MediumItalic';
        font-style: italic;
    }

    .interview-speaker:first-child {
        margin-top: 100px;
    }

    /* space in between paragraphs */
    .interview-speaker-text-second>div {
        margin-bottom: 0px;
        /* Adjust the value as needed */
    }

    /* space in between paragraphs */
    .interview-speaker-text-first>div {
        margin-bottom: 0px;
        /* Adjust the value as needed */
    }

    #noise-container {
        flex-direction: column;
    }

    .noise-images {
        width: 100%;
        height: auto;
        position: static;
    }

    .image-wrapper {
        width: 100%;
    }
}


#arrow {
    transition: transform 0.1s ease-in-out;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    width: 40px;
    z-index: 999999;
}

#submenu {
    display: flex;
    flex-direction: column;
}