
@font-face {
    font-family: 'Monument-Bold';
    src: url(fonts/ABCMonumentGrotesk-Heavy-Trial.otf);
}
@font-face {
    font-family: 'Doted';
    src: url(fonts/S4QUFX.otf);
}
body.inverted {
    filter: invert(1);
    background-color: black;
  }
  
body {
    margin: 0;
    overflow: hidden; /* Hide overflow to prevent scrolling and hide circles that overflow */
    height: 100vh; /* Set the body height to the full viewport height */
    display: flex;
    align-items: center;
}

  

#main-container {
    position: relative; /* Needed for absolute positioning */
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap; /* Allow multiple lines */
    align-items: flex-start; /* Align items to the start of the cross axis */
    height: 100%; /* Full height */
    width: 100vw; /* Adjust the width as needed */
    
}
.name {
    display:flex;
    height: calc(100vh - 30px); /* Reduce height to accommodate margin */
    width: 25vw;
    flex-direction: column ;
    justify-content: end;
    margin-right: auto;
    margin-left: 12vw;
    font-family: 'Monument-Bold';
    line-height: 1.2;

    
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .9vw; /* Large text size */

    margin: 20px 0; /* Add margin to top and bottom */
    height: calc(100vh - 40px); /* Reduce height to accommodate margin */
    width: 100vw;
    font-family: "Monument-Bold";
    line-height: 1.2;
    color: hsb(0, 0%, 80%);
    margin-left: 10px;
    text-align: center; 
    align-items: center;
    line-height: 1.3;
    margin-left: 30px;
    
}

.name {
    display:flex;
    height: calc(100vh - 30px); /* Reduce height to accommodate margin */
    width: 40vw;
    flex-direction: column ;
    justify-content: end;
    margin-left: 10px;
    font-family: "Monument-Bold";
    line-height: 1.2;
    color: hsb(0, 0%, 80%);

}

.text-cycle {
    position: fixed; /* Fixed position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center the text */
    font-family: 'Doted'; /* Use the custom font, with a fallback */
    font-size: 20vw; /* Large text size */
    color: black; /* Text color */
    text-align: center; /* Center text alignment */
    z-index: 10; /* Ensure it's above other elements */
    color: hsb(0, 0%, 80%);
    
  }
  
  .word {
    display: none; /* Hide all words by default */
    width: auto;
  }
  
  .word.visible {
    display: inline; /* Only display the current word */
  }