@font-face {
    font-family: 'ABCROM Heavy';
    src: url('fonts/ABCROM-Heavy-Trial.otf');
}

@font-face {
    font-family: 'ABCROM Regular';
    src: url('fonts/ABCROM-Regular-Trial.otf');
}

@font-face {
    font-family: 'ABCROM Medium';
    src: url('fonts/ABCROM-Medium-Trial.otf');
}

@font-face {
    font-family: 'ABCROM MediumItalic';
    src: url('fonts/ABCROM-MediumItalic-Trial.otf')
}

@font-face {
    font-family: 'ABCROM MonoMedium';
    src: url(fonts/ABCROMMono-Medium-Trial.otf);
}

@font-face {
    font-family: 'ABCROM MonoMediumItalic';
    src: url(fonts/ABCROMMono-MediumItalic-Trial.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
}

.italic-text {
    font-family: 'ABCROM MediumItalic';
    font-style: italic;
}

a {
    text-decoration: none;
    color: inherit;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full height */
    overflow: hidden;
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Disable mouse interaction */
}

.menu-bar {
    position: fixed;
    z-index: 99999999;
    bottom: 0px;
    color: #4376BB;
    background-color: black;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;

    box-sizing: border-box;
    /* Add this line */

}

.menu-left .menu-item {
    font-family: 'ABCROM Heavy', sans-serif;
    font-size: 12px;
    letter-spacing: 1.3px;
    cursor: pointer;
    position: relative;
    z-index: 201;
    /* Increase z-index value */
}

.menu-left,
.menu-right {
    display: flex;
    gap: 20px;
}

.menu-left {
    color: white;
}

.menu-item {
    font-family: 'ABCROM Heavy', sans-serif;
    font-size: 12px;
    letter-spacing: 1.3px;
    cursor: pointer;
    position: relative;
}

.menu-item:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1.5px;
    background-color: #4376BB;
    width: 100%;
}

#muteText {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    /* Ensure text is clickable and visible */
    font-family: 'ABCROM Heavy', sans-serif;
    color: #4376BB;
    letter-spacing: 1.3px;

    font-size: 12px;
}

#muteText:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1.5px;
    background-color: #4376BB;
    width: 100%;
}

#mobileMenu {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    font-family: 'ABCROM Heavy', sans-serif;
    color: #4376BB;
    letter-spacing: 1.3px;
    font-size: 12px;
}

#menuOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4376BB;
    color: black;
    z-index: 200;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'ABCROM Heavy', sans-serif;
    font-size: 12px;
    letter-spacing: 1.3px;

    .menu-item {
        font-size: 30px;
        /* Adjust as needed */
        line-height: 0.98;
    }
}

.interviews {
    margin-top: 10px;
}

.interview-link-wrapper {
    display: flex;
    /* Make it a flex container */
    align-items: center;
    /* Center items vertically */
}

.interview-link {
    font-size: 5em;
    /* Increase font size */
    display: block;
    /* Make it a block element */
    font-family: 'ABCROM Heavy', sans-serif;
    line-height: .75;
    padding: 10px;
    /* Add padding */
    padding-bottom: 5px;
}

.interview-link-wrapper:hover {
    background-color: black;
    color: #4376BB;
    /* Change text color on hover */
}

.interview-headline {
    position: absolute;
    /* Position it absolutely */
    color: #4376BB;
    /* Change text color on hover */
    font-family: 'ABCROM Regular';
    font-size: 5em;
    /* Adjust as needed */
    line-height: .95;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.interview-text {
    font-family: 'Abcrom Medium', sans-serif;
    margin-bottom: 60px;
}



.interview-speaker {
    display: flex;
    color: white;
    margin: 0 350px;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.interview-speaker-image {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 350px;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.1;
}

/* space for intro text */
.interview-text .interview-speaker:first-child {
    margin-top: 50px;
}

/* space in between paragraphs */
.interview-speaker-text-second>div {
    margin-bottom: 15px;
    /* Adjust the value as needed */
}

/* space in between paragraphs */
.interview-speaker-text-first>div {
    margin-bottom: 15px;
    /* Adjust the value as needed */
}

.image-container-interview {
    text-align: center;
    /* Center the image and caption */
    margin: 0 auto;
    /* Center the container */
}

.image-container-interview-wrapper img {
    width: 25%;
    /* Set the width to 25% */
    margin: 0 auto;
    /* Center the container */
}

.image-container-interview img {
    width: 100%;
    /* Adjust as needed */
    height: auto;
}


.image-caption {
    font-family: 'ABCROM MonoMedium';
    color: #4376BB;
    /* Change text color on hover */
    font-size: 12px;
    width: 100%;
    /* Set the caption to take up 100% width */
    text-align: center;
    /* Center the caption */
    margin-top: 10px;
    /* Add margin to the top */
}

.italic-caption {
    font-family: 'ABCROM MonoMediumItalic';
    font-style: italic;
}

.image-caption a:hover {
    text-decoration: underline;
}

.interview-speaker-label {
    width: 50px;
    color: #4376BB;
    /* Change text color on hover */

}

.interview-speaker-text-first {
    padding-left: 75px;
}

.interview-speaker-text-second {
    padding-left: 50px;
}

/* Media query for small screens */
@media (max-width: 600px) {

    /* Hide menu-right */
    .menu-right {
        display: none;
    }

    /* Show mobile menu text */
    #mobileMenu {
        display: block;
    }

    /* Move muteText to the top left */
    #muteText {
        right: auto;
        left: 10px;
    }

}

#arrow {
    transition: transform 0.1s ease-in-out;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    width: 40px;
    z-index: 999999;
}

#submenu {
    display: flex;
    flex-direction: column;
}